<!--
  Generated template for the SizePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title color="light">Tamaño y peso</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="salir()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Proporcione el tamaño y peso aproximado</h2>
  <ion-list>
      <ion-item>
          <ion-label>Tamaño (METROS)</ion-label>
          <ion-select [(ngModel)]="medida" okText="Listo" cancelText="Cancelar">
            <ion-option value="1.5-2.0 Metros">1.5-2.0 Mts</ion-option>
            <ion-option value="2.1-2.5 Metros">2.1-2.5 Mts</ion-option>
            <ion-option value="2.6-3.0 Metros">2.6-3.0 Mts</ion-option>
            <ion-option value="3.1-3.5 Metros">3.1-3.5 Mts</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Peso (LIBRAS)</ion-label>
            <ion-select [(ngModel)]="peso" okText="Listo" cancelText="Cancelar">
              <ion-option value="100-300 Libras">100-300 Lbs</ion-option>
              <ion-option value="300-600 Libras">300-600 Lbs</ion-option>
              <ion-option value="600-900 Libras">600-900 Lbs</ion-option>
              <ion-option value="900-1200 Libras">900-1200 Lbs</ion-option>
              <ion-option value=">1200 Libras">>1200 Lbs</ion-option>
            </ion-select>
          </ion-item>
  </ion-list>
    <button class="btnstyle" ion-button round (click)="atras()" id="btnconfirmar">Atrás</button>
    <button class="btnstyle" ion-button round (click)="probarResult()" id="btnconfirmar">Continuar</button>
</ion-content>
