<!--
  Generated template for the SeleccionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Selección picudos</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="salir()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h2>Seleccione el picudo que capturado</h2>

  <ion-list radio-group [(ngModel)]="picudo">

    <ion-item>
      <ion-label>Marlin Azul (Blue Marlin)</ion-label>
      <ion-radio value="Marlin Azul (Blue Marlin)"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>Marlin Negro (Black Marlin)</ion-label>
      <ion-radio value="Marlin Negro (Black Marlin)"></ion-radio>
    </ion-item>
    
    <ion-item>
        <ion-label>Marlin Rayado (Striped Marlin)</ion-label>
        <ion-radio value="Marlin Rayado (Striped Marlin)"></ion-radio>
    </ion-item>
    
    <ion-item>
        <ion-label>Espada (Swordfish)</ion-label>
        <ion-radio value="Espada (Swordfish)"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Vela (Sailfish)</ion-label>
        <ion-radio value="Vela (Sailfish)"></ion-radio>
    </ion-item>

  </ion-list>
    
    <button class="btnstyle" ion-button round (click)="atras()" id="btnconfirmar">Atrás</button>
    <button class="btnstyle" ion-button round (click)="probarResult()" id="btnconfirmar">Continuar</button>
    
</ion-content>
