<ion-header>
  <ion-navbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style" padding>
  <h1>Inicio</h1>
    <h6><strong>Puede empezar</strong> a realizar un nuevo informe de pesca <strong>dando click aquí!</strong></h6>
  <button class="btnstyle" ion-button round icon-only (click)="comprobarGps()"><ion-icon name="add-circle"></ion-icon>Crear nuevo informe &nbsp;&nbsp;&nbsp;</button>
</ion-content>
