<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Información Adicional</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-style2" padding>
  <h4>Pesca Recreativa y Turística Sostenible en Panamá</h4>
  <p>
    Los peces picudos son organismos oceánicos, altamente migratorios, de gran tamaño, lento crecimiento, y complejos ciclos 
    reproductivos.  Son depredadores topes que se alimentan de organismos pelágicos de aguas oceánicas y organismos demersales
    de los fondos marinos. Diversas especies de picudos han sido el apoyo tradicional de la pesca recreacional, además de ser 
    objeto de captura incidental en la pesca industrial y artesanal.<br>
    En Panamá, la pesca del marlín negro, marlín azul, marlín rayado, pez lanceta, marlín blanco, pez vela y pez espada esta 
    reservada para la pesca recreacional (según Decreto Ejecutivo No 33 de 1997). En muchos países estas especies son capturadas
    bajo el concepto de “captura y liberación” en la cual el pez es capturado con anzuelo y liberado posteriormente desde la embarcación.<br> 
    El Plan Nacional de Acción para la Pesca Sostenible fue adoptado en 2017.  El Plan reconoce que los recursos pesqueros están 
    bajo excesiva presión por el incremento descontrolado del esfuerzo pesquero sin controles por muchos años, lo que provocaría la
    perdida de estos de no implementarse urgentemente un manejo sostenible. Se identifica la necesidad de obtener estadísticas pesqueras
    confiables que permita manejar científicamente los recursos pesqueros, incluyendo al subsector de la pesca recreativa. La conservación 
    de estas especies requiere de estadísticas pesqueras y medidas de manejo sostenible locales y regionales <br>
  </p>
</ion-content>
