.splash{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background : -moz-linear-gradient(0% 100% 45deg,rgba(51, 112, 146, 1) 0%,rgba(71, 88, 91, 1) 49.49%,rgba(88, 68, 100, 1) 100%);
    background : -webkit-linear-gradient(45deg, rgba(51, 112, 146, 1) 0%, rgba(71, 88, 91, 1) 49.49%, rgba(88, 68, 100, 1) 100%);
    background : -webkit-gradient(linear,0% 100% ,100% 0% ,color-stop(0,rgba(51, 112, 146, 1) ),color-stop(0.4949,rgba(71, 88, 91, 1) ),color-stop(1,rgba(88, 68, 100, 1) ));
    background : -o-linear-gradient(45deg, rgba(51, 112, 146, 1) 0%, rgba(71, 88, 91, 1) 49.49%, rgba(88, 68, 100, 1) 100%);
    background : -ms-linear-gradient(45deg, rgba(51, 112, 146, 1) 0%, rgba(71, 88, 91, 1) 49.49%, rgba(88, 68, 100, 1) 100%);
    background : linear-gradient(45deg, rgba(51, 112, 146, 1) 0%, rgba(71, 88, 91, 1) 49.49%, rgba(88, 68, 100, 1) 100%);
}
.bg-style {
  background-image: url('../assets/imgs/bg-4.png');
  background-size: 100vh;
  color: white;
}
.bg-style2 {
  background-image: url('../assets/imgs/fondo2.png');
  background-size: 100vh;
  color: white;
}.bg-style3 {
  background-image: url('../assets/imgs/fondo3.png');
  background-size: 100vh;
  color: white;
}

.btnstyle {
    background-color: #064f93;
    font-family: 'DINL' !important;
}
.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  h1, h2, h3, h4, h5{
    font-family: 'DINB' !important;
  }

   ion-navbar{
     font-family: 'DINB' !important;
     color: white !important;
   }
   .toolbar-background {
    background-color: #003669;
  }
  

  @font-face {
    font-family: 'Noto';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/Noto-Italic.eot');
    src: url('../assets/fonts/Noto-Italic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Noto-Italic.ttf') format('truetype')
  }

  @font-face {
    font-family: 'DINB';
    src: url('DINPro-CondensedBold.woff2') format('woff2'),
        url('DINPro-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'DINL';
    src: url('DINPro-Light.woff2') format('woff2'),
        url('DINPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }